{% include 'header.twig' %}

{% if user['auth'] %}
         <div class="app-content">
            <!-- page-content -->
            <div class="container-fluid">
               <div class="row mt-4">
                  <div class="col-lg-12">
                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              <div class="faq-ss-tabs">
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             What is Social Media Boost?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Social Media Boost means “Virtualization” with the term our panel adapted to our language. Virtualization; means to hypothesize that social media accounts have a certain audience. Taking into account the visual perception issue of the profiles shown as Assumption (Virtualization), it is proven every day by our applications that social media accounts can reach the goals they want to achieve more easily.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Is My Account At Risk?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       We record and observe the effect of orders placed through our panel on social media accounts moment by moment. We want you to know that since our panel was put into practice, we have not observed any risk in the accounts unless there is abuse by our users. However, we would like you to know that our panel does not take any responsibility for any problems that may occur.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             What is the Effect on My Account?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      You can be sure that you will see the effect if you monitor the progress in a controlled and regular manner in the orders you will place through our panel. If we need to explain with a few examples; The posts you share on Instagram go to the "Discover" section. This will allow your post to reach more Instagram users. For another example, you are more likely to appear in the "Recommended" section of the videos you share on Youtube. This will help your video post to be seen by more Youtube users.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             How to Create a Support Request?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       If you are logging in with a desktop computer, click on the "Support Center" icon from the menu on the left, if you are logging in with a mobile computer, click on the menu button on the top right, then click on the button that says "Support Center". On the page that opens, select the topic for which you want to create a support request. Then fill in the required fields and click the "Create Support Request" button.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            How Do I Load Balance?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       After successfully completing the registration process through our panel, click on the “Add Balance” icon from the left menu if you are logging in with a desktop computer, if you are logging in with a mobile click on the menu button on the top right, then click on the button that says “Add Balance”. From this page, you can pay with PayTR 24/7 without commission. Your card information is not in any way in the infrastructure of our panel. Payments you make with PayTR are protected by the 3D secure system.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            How Can I Order?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                     If you are logging in with a desktop computer, click on the "Order" icon from the menu on the left, if you are logging in with a mobile computer, click the menu button on the top right, then click on the button that says "New Order". All services belonging to our panel can be found in the "Categories" section of the page that opens. Select the category you want to order from this menu. Then select the service you want to order from the "Service" menu. The price written in the service you have chosen is the price of 1000 pieces. After making sure that you have read the "Service Description" section in detail, write the link type specified in the description where it says "Link". Then, write an amount between the maximum or minimum values. you can give from that service in the amount section. After completing these operations, click the "Place Order" button. Your order will be completed within the time specified in the description section.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                              </div>
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
                  </section>
               </div>
               <!-- page-content end -->
            </div>
            <!-- app-content -->
         </div>
      </div>

      </div>

{% else %}
    <div class="home-head outside">
        <div class="home-head-bg"></div>
	
        <div class="home-head-content">
            <div class="container" style="position: relative;">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
	
    <div class="hs-area mb-5">
        <div class="container">

                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              <div class="faq-ss-tabs">
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            What is Social Media Boost?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      Social Media Boost means “Virtualization” with the term our panel adapted to our language. Virtualization; means to hypothesize that social media accounts have a certain audience. Taking into account the visual perception issue of the profiles shown as Assumption (Virtualization), it is proven every day by our applications that social media accounts can reach the goals they want to achieve more easily.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Is My Account At Risk?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       We record and observe the effect of orders placed through our panel on social media accounts moment by moment. We want you to know that since our panel was put into practice, we have not observed any risk in the accounts unless there is abuse by our users. However, we would like you to know that our panel does not take any responsibility for any problems that may occur.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             What is the Effect on My Account?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       You can be sure that you will see the effect if you monitor the progress in a controlled and regular manner in the orders you will place through our panel. If we need to explain with a few examples; The posts you share on Instagram go to the "Discover" section. This will allow your post to reach more Instagram users. For another example, you are more likely to appear in the "Recommended" section of the videos you share on Youtube. This will help your video post to be seen by more Youtube users.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             How to Create a Support Request?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      If you are logging in with a desktop computer, click on the "Support Center" icon from the menu on the left, if you are logging in with a mobile computer, click on the menu button on the top right, then click on the button that says "Support Center". On the page that opens, select the topic for which you want to create a support request. Then fill in the required fields and click the "Create Support Request" button.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            How Do I Load Balance?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                      After successfully completing the registration process through our panel, click on the “Add Balance” icon from the left menu if you are logging in with a desktop computer, if you are logging in with a mobile click on the menu button on the top right, then click on the button that says “Add Balance”. From this page, you can pay with PayTR 24/7 without commission. Your card information is not in any way in the infrastructure of our panel. Payments you make with PayTR are protected by the 3D secure system.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             How Can I Order?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       If you are logging in with a desktop computer, click on the "Order" icon from the menu on the left, if you are logging in with a mobile computer, click the menu button on the top right, then click on the button that says "New Order". All services belonging to our panel can be found in the "Categories" section of the page that opens. Select the category you want to order from this menu. Then select the service you want to order from the "Service" menu. The price written in the service you have chosen is the price of 1000 pieces. After making sure that you have read the "Service Description" section in detail, write the link type specified in the description where it says "Link". Then, write an amount between the maximum or minimum values. you can give from that service in the amount section. After completing these operations, click the "Place Order" button. Your order will be completed within the time specified in the description section.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                              </div>
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
            </section>
				  
        </div>
	 </div> 
	
{% endif %}

{% include 'footer.twig' %}
