{% include 'header.twig' %}

{% if user['auth'] %}
         <div class="app-content">
            <!-- page-content -->
            <div class="container-fluid">
               <div class="row mt-4">
                  <div class="col-lg-12">
                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              
							<nav>
								<div class="nav tos-navs" id="nav-tab" role="tablist">
								  <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Substances</a>
								  <a class="nav-item nav-link" id="nav-pp-tab" data-toggle="tab" href="#nav-pp" role="tab" aria-controls="nav-pp" aria-selected="false">Rules</a>
								  <a class="nav-item nav-link" id="nav-rp-tab" data-toggle="tab" href="#nav-rp" role="tab" aria-controls="nav-rp" aria-selected="false">Usage Agreement</a>
								</div>
							</nav>
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
									<div class="d-card">
										<div class="d-card-body py-5">
											<h2 class="mb-5">Maddeler</h2>
											<div class="read-text">
												<p><strong class="mr-1"> 1:</strong> If you enter another order on the same link while your order is in progress, the system will give an error and your balance will be burned.</p>
												<p><strong class="mr-1"> 2:</strong> If you place an order while your profile is hidden, the system will make the order status complete and will not refund the transaction fee!</p>
												<p><strong class="mr-1"> 3:</strong> If part of your order is completed or canceled (except for Item 2), your money will be refunded. Please try to enter an order again or order from our different service.</p>
												<p><strong class="mr-1"> 4:</strong> You should not enter another order at the same address before an order is finished.</p>
												<p><strong class="mr-1"> 5:</strong> There is no guarantee of bot follower operations in any way, although the time to be maintained is not certain, incoming followers can be deleted even the next day.</p>
												<p><strong class="mr-1"> 6:</strong> Our panel never guarantees time, although it is not clear when the social media will update, the times written in the service descriptions are the closest estimated times we have specified.</p>
												<p><strong class="mr-1"> 7:</strong> It is forbidden to withdraw members to accounts such as +18, adult, iddaa coupon sales or illegal gambling.</p>
												<p><strong class="mr-1"> 8:</strong> The balance entered into the system is definitely not refunded, but when we agree on a service with us, if that service has a problem and is removed, a refund is made.</p>
												<p><strong class="mr-1"> 9:</strong> After placing your order, account, shipment, etc. Do not change or hide their IDs and do not shoot from anywhere else before the order is completed. If the transaction is incorrect or complete without sending, do not enter the transaction from other places until you receive a response from us!</p>
												<p><strong class="mr-1"> 10:</strong> Anyone who has registered and placed an order in our system will have accepted these rules and cannot complain or claim any rights.</p>
												<p><strong class="mr-1"> 11:</strong> Although the data written in the service descriptions are not up-to-date, they are valid in this contract because we do not know what data any service reflects instantly, so service descriptions are only preliminary information, warranty and starting periods are not valid.</p>
											</div>
										</div>
									</div>
								</div><!-- tab end -->
								<div class="tab-pane fade" id="nav-pp" role="tabpanel" aria-labelledby="nav-pp-tab">
									<div class="d-card">
										<div class="d-card-body py-5">
											<h2 class="mb-5">Rules</h2>
											<div class="read-text">
												<strong>You agree to the following items in your purchases.</strong>
												<p class="mt-4">Before placing the order, the user's profile must be made public.</p>
												<p>Social media systems are constantly being updated, your account may be closed for follower etc. Please do not get followers for "Newly Opened", "Copyright Content", "Unapproved SMS and Mail" accounts. At the same time, there is a risk of closing an ordinary account. Please take these into consideration, we cannot accept responsibility.</p> <p>You should not enter another order at the same address before an order is finished.</p> <p>Our panel does not guarantee the account being closed, the follower deleted, and any lack of order.</p> p> <p>Our panel does not guarantee activity & non-drop in all transactions, it is only responsible for loading the amount received. (Except guaranteed services) If there is an incomplete installation, the system automatically refunds the fee for the missing part.</p> <p>Bot follower operations are not guaranteed in any way. <p>If the status of the orders placed to hidden accounts is "Order complete", no refunds can be made.</p> <p>If the status of the orders placed incorrectly is "Order complete", no refunds can be made.</p> <p>Starting of orders passed through the system The duration may change, be postponed or extended according to the systemic density.</p> <p>The balance entered into the system is never refunded, but when we agree on a service with us, if that service has a problem and is removed, a refund is made.</p> <p>After placing your order, the account, the shipment etc. Do not change or hide their IDs and do not shoot from anywhere else before the order is completed.</p> <p><strong>Anyone who has registered and placed an order in our system will have accepted these rules and cannot complain or claim any rights.</strong></p>
											</div>
										</div>
									</div>
								</div><!-- tab end -->
								<div class="tab-pane fade" id="nav-rp" role="tabpanel" aria-labelledby="nav-rp-tab">
									<div class="d-card">
										<div class="d-card-body py-5">
											<h2 class="mb-5">Usage Agreement</h2>
											<div class="read-text">
												
												<p></p>
											</div>
										</div>
									</div>
								</div><!-- tab end -->
							</div>
							  
							  
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
                  </section>
               </div>
               <!-- page-content end -->
            </div>
            <!-- app-content -->
         </div>
      </div>

      </div>

{% else %}
    <div class="home-head outside">
        <div class="home-head-bg"></div>
	
        <div class="home-head-content">
            <div class="container" style="position: relative;">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
	
    <div class="hs-area mb-5">
        <div class="container">

                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              
							<nav>
								<div class="nav tos-navs" id="nav-tab" role="tablist">
								  <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Maddeler</a>
								  <a class="nav-item nav-link" id="nav-pp-tab" data-toggle="tab" href="#nav-pp" role="tab" aria-controls="nav-pp" aria-selected="false">Kurallar</a>
								  <a class="nav-item nav-link" id="nav-rp-tab" data-toggle="tab" href="#nav-rp" role="tab" aria-controls="nav-rp" aria-selected="false">Kullanım Sözleşmesi</a>
								</div>
							</nav>
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
									<div class="d-card">
										<div class="d-card-body py-5">
											<h2 class="mb-5">Maddeler</h2>
											<div class="read-text">
												<p><strong class="mr-1">Madde 1:</strong> Verdiğiniz sipariş devam ederken aynı linke bir sipariş daha girerseniz sistem hata verir ve bakiyeniz yanar.</p>
												<p><strong class="mr-1">Madde 2:</strong> Profiliniz gizli konumundayken sipariş verirseniz sistem sipariş durumunu tamamlandı yapar ve işlem ücretini iade etmez!</p>
												<p><strong class="mr-1">Madde 3:</strong> Eğer siparişinizin bir kısmı tamamlanır yada iptal edilirse (Madde 2 hariç) paranız iade edilir. Lütfen tekrar sipariş girmeyi yada farklı servisimizden sipariş geçmeyi deneyin.</p>
												<p><strong class="mr-1">Madde 4:</strong> Bir sipariş bitmeden aynı adrese başka sipariş girmemelisiniz.</p>
												<p><strong class="mr-1">Madde 5:</strong> Bot takipçi işlemlerinin hiç bir şekilde garantisi yoktur bakım yapılacak süre belli olmamakla birlikte gelen takipçiler ertesi gün bile silinebilir.</p>
												<p><strong class="mr-1">Madde 6:</strong> Panelimiz hiçbir zaman süre garantisi vermez, sosyal mecraların ne zaman güncelleme yapacağı belli olmamakla birlikte servis açıklamalarında yazan süreler belirttiğimiz en yakın tahmini sürelerdir.</p>
												<p><strong class="mr-1">Madde 7:</strong> +18, adult, iddaa kupon satış hesabı yada yasa dışı kumar vb hesaplara üye çekimi yasaktır.</p>
												<p><strong class="mr-1">Madde 8:</strong> Sisteme giren bakiye kesinlikle iade edilmemektedir lakin bizimle bir hizmet konusunda anlaştığımızda o hizmet problem yaşayıp kaldırılırsa iade yapılmaktadır.</p>
												<p><strong class="mr-1">Madde 9:</strong> Siparişinizi verdikten sonra hesap, gönderi vs. ID'lerini değiştirmeyin, gizlemeyin ve sipariş tamamlanmadan başka yerden çekim yapmayınız. İşlem hatalı sonuçlanır yada gönderim yapmadan tamamlandı sonucu verirse bizden yanıt gelene kadar başka yerlerden işlem girmeyiniz!</p>
												<p><strong class="mr-1">Madde 10:</strong> Sistemimize kayıt olup sipariş vermiş olan herkes bu kuralları kabul etmiş olur ve herhangi bir aksaklıkta şikayetci olamaz ve hak talep edemezler.</p>
												<p><strong class="mr-1">Madde 11:</strong> Servis açıklamalarında yazan veriler güncel olmamakla birlikte bu sözleşmede geçerli olmaktadır çünkü hiç bir servisin anlık olarak ne veriler yansıttığını bilemediğimiz için servis açıklamaları sadece ön bilgidir garanti ve başlangıç süreleri geçerli değildir.</p>
											</div>
										</div>
									</div>
								</div><!-- tab end -->
								<div class="tab-pane fade" id="nav-pp" role="tabpanel" aria-labelledby="nav-pp-tab">
									<div class="d-card">
										<div class="d-card-body py-5">
											<h2 class="mb-5">Kurallar</h2>
											<div class="read-text">
												<strong>Yapacağınız alışverişlerde aşağıdaki maddeleri kabul etmiş olursunuz.</strong>
												<p class="mt-4">Sipariş geçilmeden önce mutlaka kullanıcının profil herkese açık hale getirilmelidir.</p>
												<p>Sosyal medya sistemleri sürekli güncellenmektedir takipçi vb işlemlerde hesabınız kapatılabilir lütfen "Yeni Açılmış", "Telif İçerikli", "Sms ve Mail Onaysız" Hesaplara Takipçi Almayınız. Aynı zamanda sıradan bir hesabın kapanma riski de bulunmaktadır. Lütfen bunları göz önünde bulundurunuz sorumluluk kabul edememekteyiz.</p>
												<p>Bir sipariş bitmeden aynı adrese başka sipariş girmemelisiniz.</p>
												<p>Kapanan hesap,silinen takipçi, ve her türlü sipariş eksikliği konusunda panelimiz garanti vermemektedir.</p>
												<p>Panelimiz bütün işlemlerde aktiflik & düşmeme garantilemez sadece alınan miktarın yüklemesinde sorumludur. (Garantili servisler hariç) Eğer eksik yükleme olursa sistem otomatik şekilde eksik kısmın ücretini iade etmektedir.</p>
												<p>Bot takipçi işlemlerinin hiç bir şekilde garantisi yoktur bakım yapılacak süre belli olmamakla birlikte gelen takipçiler ertesi gün bile silinebilir.</p>
												<p>Gizli hesaplara verilen siparişlerin durumu "Sipariş tamamlandı" olursa geri iade yapılamamaktadır.</p>
												<p>Hatalı işlem yapılan siparişlerin durumu "Sipariş tamamlandı" olursa geri iade yapılamamaktadır.</p>
												<p>Sistem üzerinden geçilen siparişlerin başlama süresi sistemsel yoğunluğa göre değişebilir, ertelenebilir, uzatılabilir.</p>
												<p>Sisteme giren bakiye kesinlikle iade edilmemektedir lakin bizimle bir hizmet konusunda anlaştığımızda o hizmet problem yaşayıp kaldırılırsa iade yapılmaktadır.</p>
												<p>Siparişinizi verdikten sonra hesap, gönderi vs. ID'lerini değiştirmeyin, gizlemeyin ve sipariş tamamlanmadan başka yerden çekim yapmayınız.</p>
												<p><strong>Sistemimize kayıt olup sipariş vermiş olan herkes bu kuralları kabul etmiş olur ve herhangi bir aksaklıkta şikayetçi olamaz ve hak talep edemezler.</strong></p>
											</div>
										</div>
									</div>
								</div><!-- tab end -->
								<div class="tab-pane fade" id="nav-rp" role="tabpanel" aria-labelledby="nav-rp-tab">
									<div class="d-card">
										<div class="d-card-body py-5">
											<h2 class="mb-5">Kullanım Sözleşmesi</h2>
											<div class="read-text">
												
												<p>3</p>
											</div>
										</div>
									</div>
								</div><!-- tab end -->
							</div>
							  
							  
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
                  </section>
				  
        </div>
	 </div> 
	
{% endif %}

{% include 'footer.twig' %}
